<html>

<head>
  <style>
    #list1 .form-control {
      border-color: transparent;
    }

    #list1 .form-control:focus {
      border-color: transparent;
      box-shadow: none;
    }

    #list1 .select-input.form-control[readonly]:not([disabled]) {
      background-color: #fbfbfb;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">

              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fa fa-check"></i>
                <u>My Todo-s</u>


              </p>
              <p class="h5 text-primary"> Welcome, {{request.session.name}}</p>


              <div class="card-footer text-end p-3">

                <a class="btn btn-primary" href="{% url 'addToDo' %}">Add Task</a>
              </div>
              <hr class="my-4">

              <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

                <table class="table mb-0">
                  <thead>
                    <tr>

                      <th scope="col">Task</th>
                      <th scope="col">Category</th>
                      <th scope="col">Description</th>

                      <th scope="col">Due Date</th>

                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if todolist %}
                    {% for i in todolist%}
                    {% if i.status == True %}
                    <tr class="fw-normal" style="background-color: lightgreen;">
                      <th class="align-middle">
                        <span>{{i.title}}</span>
                      </th>
                      <td class="align-middle">
                        <h6 class="mb-0"><span>{{i.category}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <h6 class="mb-0"><span>{{i.description}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <h6 class="mb-0"><span class="badge bg-danger">{{i.due_date}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <!-- <a href="{% url 'done_todo' pk=i.pk %}" data-mdb-toggle="tooltip" title="Done"><i class="fa fa-check" style="margin-right: 30px;"></i></a> -->

                        <a href="{% url 'remove_todo' pk=i.pk %}" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fa fa-trash" style="color: red;"></i></a>
                      </td>
                    </tr>
                    {% else %}
                    <tr class="fw-normal">
                      <th class="align-middle">
                        <span>{{i.title}}</span>
                      </th>
                      <td class="align-middle">
                        <h6 class="mb-0"><span>{{i.category}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <h6 class="mb-0"><span>{{i.description}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <h6 class="mb-0"><span class="badge bg-danger">{{i.due_date}}</span></h6>
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'done_todo' pk=i.pk %}" data-mdb-toggle="tooltip" title="Done"><i
                            class="fa fa-check" style="margin-right: 30px;"></i></a>

                        <a href="{% url 'remove_todo' pk=i.pk %}" data-mdb-toggle="tooltip" title="Remove"><i class="fa fa-trash"
                            style="color: red;"></i></a>
                      </td>
                    </tr>
                    {% endif %}


                    {% endfor %}

                    {% endif %}
                  </tbody>
                </table>


              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>

</html>